table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    color: #ff0000;
}

tr:nth-child(odd) {
    background-color: #ececec;
}
