
body {
    margin: 10px;
    margin-top: 40px;
}
h3,
body,
div,
table,
thead,
tbody,
tfoot,
tr,
th,
td,
p {
    font-family: "thsarabun";
    font-size: 1em;
}

.fix {
    position: fixed;

}

div.b {
	background: yellow;
	border: 1px solid black;
	width: 20%;
    padding: 10px 10px 20px 10px;
    text-align: center;
    margin-left: 80%;
    vertical-align: middle !important;
}

.table th {
    text-align: center;
    vertical-align: middle !important;
}

.table th,
.table td {
    border: 0.1px solid !important;
    border-collapse: collapse;
}


.table tbody tr td:first-child+td {
    text-align: left;
}

.infer-table {
    margin: auto;
}

.category-row {
    background: yellow;
}

.table-head {
	width: 40%;
}
.table-head td {
	padding-left: 10px;
}
.sumall-row {
    background: rgb(104, 176, 235);
}

.right-td {
    text-align: right;
    padding-right: 2px; 
}
.cat-cost-detail {
    padding-left: 10px;
}

.bold-text {
    font-weight: bold;
    text-align: center;
}

.bold-text-sum {
    font-weight: bold;
}

.color-hl {
    background: rgb(57, 136, 255) !important;
}

.res-sum-all {
    border:1px solid rgb(81, 255, 1); 
    margin: 5px;
    padding-left: 50px;
}

.cat-cost-id-th,
.cat-cost-id {
    max-width: 75px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.row-month th {
    max-width: 15px;
}

.table {
    border-collapse: collapse !important;
    width: 100%;
    margin-bottom: 20px;
}

.infer-detail, .infer-detail td {
	border-collapse: collapse !important;
	margin-bottom: 20px;
	border: 0.1px solid !important;
	padding: 5px;
}

.infer-detail td {
	width: 120px;
}
 